html {
  font-family: system-ui;
}

table {
  border-collapse: separate;
  border: 2px solid rgb(190, 180, 180);//外边框
  letter-spacing: 1px;
  font-size: 0.9rem;
}

td, th {
  border: 1px solid rgb(190, 180, 180);
  padding: 10px 20px;
}

th {
  background-color: rgb(190, 203, 238);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(190, 180, 180);
}

tr:nth-child(odd) td {
  border: 1px solid rgb(190, 180, 180);
  padding: 10px 20px;
}

caption {
  padding: 10px;
}
body{
	background-size: 1680px 760px;
}
